# 環境固有なディレクトリです ( というか重い )
eclipse/
MonoDevelop/

# テンポラリなファイルです
**/a.out
**/*.class
**/*.exe

# ローカル環境で遊べる場所
HobbyRoom/

# 他の人のものが入っちゃうといけない
Vim_script/Room/Reading/**
!Vim_script/Room/Reading/Mine

# 権利的にあれ
Java/src/
JavaScript/OuterLibrary/dojo.js/lib/
Coq/sfja

# 強い
**/.cabal-sandbox/
**/.stack-work/
TypeScript/**/typings
TypeScript/**/jquery-*.*.*.min.js
