[submodule "JavaScript/Labo/JQuery/TvCredits/tvcredits"]
	path = JavaScript/Labo/JQuery/TvCredits/tvcredits
	url = https://github.com/rosantoz/tvcredits
[submodule "TypeScript/Labo/JQuery/tvcredits"]
	path = TypeScript/Labo/JQuery/tvcredits
	url = https://github.com/rosantoz/tvcredits.git
[submodule "learning-Haskell"]
	path = Haskell
	url = https://github.com/aiya000/learning-Haskell
[submodule "Math"]
	path = Math
	url = https://github.com/aiya000/learning-math
