# 環境固有なディレクトリです ( というか重い )
eclipse/
MonoDevelop/
VisualStudio/

# テンポラリなファイルです
**/a.out
**/*.class
**/*.exe
Tex/**/*.log
Tex/**/*.aux
Tex/**/*.pdf
Tex/**/*.out
Erlang/**/*.beam

# 没
Tex/**/dust/

# ローカル環境で遊べる場所
HobbyRoom/

# 他の人のものが入っちゃうといけない
Vim_script/Room/Reading/**
!Vim_script/Room/Reading/Mine

# 権利的にあれ
Java/src/
JavaScript/Labo/Dojo.js/lib/
Coq/sfja

# 強い
**/.cabal-sandbox/
**/.stack-work/
**/bower_components/
TypeScript/**/typings
TypeScript/**/jquery-*.*.*.min.js
