# 環境固有なディレクトリです ( というか重い )
eclipse/

# テンポラリなファイルです
**/a.out
**/*.class
**/*.exe

# 他の人のものが入っちゃうといけない
Vim_script/Room/Reading/*_vimrc

# 権利的にあれ
Java/src/
JavaScript/OuterLibrary/dojo.js/lib/
Coq/sfja
